body{
    margin:0}
.img2{
    width:300px;
    border-radius: 60px 0px 60px 0px;
    -webkit-border-radius: 60px 0px 60px 0px;
    -moz-border-radius: 60px 0px 60px 0px;
    -ms-border-radius: 60px 0px 60px 0px;
    -o-border-radius: 60px 0px 60px 0px;
}